{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "auto",
        "targets": {
          "chrome": "100"
          // "browsers": [
          //   "> 1%",
          //   "last 2 versions",
          //   "not ie <= 8"
          // ]
        }
      }
    ]
  ],
}